@media screen and (min-width: 641px) and (max-width: 1024px) {
    .movie-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero-text h1 {
        font-size: 2.2rem;
    }

    .search-container {
        margin: 0 1rem;
    }
}